.element__tag1 {
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 285px;
    width: 213.54px;
    text-align: center;
    font-size: 15px;
    font-family: arial;
}

.element-avatar {
    position: absolute;
    top: 135px;
    z-index: 2;
    left: 51px;
    width: 108px;
    height: 141px;
    border-radius: 5px;
}
