.element__back1 {
    display: block;
    position: absolute;
    z-index: 1;
    top: 130px;
    left: 69px;
    width: 200px;
    height: 20px;
    font-size: 10px;
    color: #fff;
    font-weight: bold;
    transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.element__back2 {
    display: block;
    position: absolute;
    z-index: 1;
    top: 130px;
    left: 56px;
    width: 200px;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.element__back3 {
    display: block;
    position: absolute;
    z-index: 1;
    top: 129px;
    left: 14px;
    width: 200px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.element__back4 {
    display: block;
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 14px;
    width: 200px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.element__back5 {
    display: block;
    position: absolute;
    z-index: 1;
    top: 165px;
    left: -81px;
    width: 330px;
    height: 20px;
    font-size: 12px;
    color: #fff;
    transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}