.element__tag1 {
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 168px;
    left: -23px;
    width: 213.54px;
    font-size: 11px;
    font-family: arial;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.element__tag2 {
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 208px;
    left: -43px;
    width: 213.54px;
    font-size: 11px;
    font-family: arial;
    transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.element__tag3 {
    position: absolute;
    color: #fff;
    z-index: 2;
    left: -100px;
    top: 183px;
    left: -64px;
    width: 213.54px;
    font-size: 11px;
    font-family: arial;
    transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.element__tag4 {
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 183px;
    left: -84px;
    width: 213.54px;
    font-size: 11px;
    font-family: arial;
    transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.element-avatar {
    position: absolute;
    top: 223px;
    z-index: 2;
    left: 20px;
    width: 92px;
    height: 110px;
    border-radius: 5px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
