.element__back1 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 186px;
    left: 6px;
    width: 100px;
    height: 20px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    color: #000;
    /* transform: rotate(90deg);
    -ms-transform: rotate(90deg);  */
}

.element__back2 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 214px;
    left: 6px;
    width: 100px;
    height: 20px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    color: #000;
}

.element__back3 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 186px;
    left: 106px;
    width: 100px;
    height: 20px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    color: #000;
}

.element__back4 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 214px;
    left: 106px;
    width: 100px;
    height: 20px;
    font-size: 10px;
    font-family: Arial;
    text-align: center;
    color: #000;
}
