.element__tag1 {
  position: absolute;
  color: #253f96;
  z-index: 3;
  top: 60px;
  left: 15px;
  text-align: left;
  font-size: 18px;
  font-family: Arial;
  font-weight: bold;
  width: 190px;
  height: 50px;
}

.element__tag2 {
  position: absolute;
  color: #72c6f0;
  z-index: 3;
  top: 110px;
  left: 15px;
  width: 210px;
  text-align: left;
  font-size: 15px;
  font-family: Arial;
}

.element-avatar {
  position: absolute;
  z-index: 2;
  top: 138px;
  left: 102px;
  width: 98px;
  height: 122px;
  border-radius: 8px;
  border: #000 1px solid;
}

