.element__tag1 {
    position: absolute;
    color: #000;
    z-index: 2;
    top: 223px;
    left: -37px;
    width: 220px;
    font-size: 11px;
    font-family: arial;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.print-name-title {
    position: absolute;
    color: #000;
    z-index: 2;
    top: 317px;
    width: 260.54px;
    font-size: 15px;
    text-align: center;
}

.element__tag2 {
    position: absolute;
    color: #000;
    z-index: 2;
    top: 223px;
    left: -65px;
    width: 220px;
    font-size: 10px;
    font-family: arial;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.print-sub-title {
    position: absolute;
    color: #000;
    z-index: 2;
    top: 349px;
    width: 260.54px;
    font-size: 15px;
    text-align: center; 
}

.element__tag3 {
    position: absolute;
    color: #000;
    z-index: 2;
    top: 225px;
    left: -95px;
    width: 220px;
    font-size: 10px;
    font-family: arial;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.element__tag4 {
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 219px;
    left: 105px;
    font-size: 9px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.element__tag5 {
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 239px;
    left: 5px;
    width: 220px;
    font-size: 9px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}


.element__tag6 {
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 244px;
    left: -10px;
    width: 220px;
    font-size: 9px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}


.element__tag7 {
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 241px;
    left: -24px;
    width: 220px;
    font-size: 9px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}



.element-avatar {
    position: absolute;
    top: 11px;
    z-index: 2;
    left: 20px;
    width: 83px;
    height: 105px;
    border-radius: 5px;
    transform: rotate(90deg);
    -ms-transform:rotate(90deg); 
}

.print-element-avatar {
    position: absolute;
    top: 185px;
    z-index: 2;
    left: 80px;
    border-radius: 5px;
}

.element-code {
    position: absolute;
    top: 277px;
    left: 55px;
    z-index: 2
}

.print-element-code {
    position: absolute;
    top: 330px;
    left: 75px;
    z-index: 2
}