.element__tag1 {
  position: absolute;
  color: #2b6ab0;
  z-index: 3;
  top: 260px;
  font-size: 16px;
  font-family: "Calibri, sans-serif";
  width: 100%;
  height: 30px;
  text-align: center;
}

.element__tag2 {
  position: absolute;
  z-index: 3;
  top: 287px;
  font-size: 11px;
  font-family: "Calibri, sans-serif";
  width: 100%;
  height: 50px;
  color: #aeaeae;
  text-align: center;
  /* transform: rotate(90deg);
  -ms-transform: rotate(90deg); */
}

.element-avatar {
  position: absolute;
  z-index: 3;
  top: 122px;
  left: 55px;
  width: 100px;
  height: 130px;
  border: 3px #2b6ab0 solid;
  border-radius: 8px;
}

