.element__back1 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 110px;
    left: 35px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    color: #000;
    font-family: Arial;
    text-align: left;
    /* transform: rotate(90deg);
    -ms-transform: rotate(90deg); */
}

.element__back2 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 134px;
    left: 48px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    color: #000;
    font-family: Arial;
    text-align: left;
}

.element__back3 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 158px;
    left: 51px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    color: #000;
    font-family: Arial;
    text-align: left;
}

.element__back4 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 182px;
    left: 55px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    color: #000;
    font-family: Arial;
    text-align: left;
}

.element__back5 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 205px;
    left: 28px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    color: #000;
    font-family: Arial;
    text-align: left;
}

.element__back6 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 229px;
    left: 24px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    color: #000;
    font-family: Arial;
    text-align: left;
}