.element__back1 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 71px;
    left: 25px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    color: #000;
    font-family: Arial;
    text-align: left;
    /*transform: rotate(90deg);
    -ms-transform: rotate(90deg);*/
}

.element__back2 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 117px;
    left: 25px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    color: #000;
    font-family: Arial;
    text-align: left;
}

.element__back3 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 168px;
    left: 25px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    color: #000;
    font-family: Arial;
    text-align: left;
}

.element__back4 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 218px;
    left: 25px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    color: #000;
    font-family: Arial;
    text-align: left;
}

