.element__back1 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 82px;
    left: 14px;
    width: 250px;
    height: 20px;
    font-size: 9px;
    color: #000;
    font-family: Arial;
    text-align: left;
    /* transform: rotate(90deg);
    -ms-transform: rotate(90deg); */
}

.element__back2 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 109px;
    left: 14px;
    width: 250px;
    height: 20px;
    font-size: 9px;
    color: #000;
    font-family: Arial;
    text-align: left;
}

.element__back3 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 139px;
    left: 14px;
    width: 250px;
    height: 20px;
    font-size: 9px;
    color: #000;
    font-family: Arial;
    text-align: left;
}

.element__back4 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 167px;
    left: 14px;
    width: 250px;
    height: 20px;
    font-size: 9px;
    color: #000;
    font-family: Arial;
    text-align: left;
}
.element__back5 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 196px;
    left: 14px;
    width: 250px;
    height: 20px;
    font-size: 9px;
    color: #000;
    font-family: Arial;
    text-align: left;
}

.element__back6 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 226px;
    left: 14px;
    width: 250px;
    height: 20px;
    font-size: 9px;
    color: #000;
    font-family: Arial;
    text-align: left;
}
