.element__back1 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 257px;
    left: 8px;
    width: 250px;
    height: 20px;
    font-size: 10px;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    /* transform: rotate(90deg);
    -ms-transform: rotate(90deg); */
}

.element__back2 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 282px;
    left: 48px;
    width: 250px;
    height: 20px;
    font-size: 11px;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-align: left;
}

