.element__tag1 {
    position: absolute;
    color: #000;
    z-index: 2;
    top: 168px;
    left: -21px;
    width: 213.54px;
    font-size: 9px;
    font-family: arial;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.element__tag2 {
    position: absolute;
    color: #000;
    z-index: 2;
    top: 208px;
    left: -41px;
    width: 213.54px;
    font-size: 9px;
    font-family: arial;
    transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.element__tag3 {
    position: absolute;
    color: #000;
    z-index: 2;
    left: -100px;
    top: 184px;
    left: -63px;
    width: 213.54px;
    font-size: 9px;
    font-family: arial;
    transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.element__tag4 {
    position: absolute;
    color: #000;
    z-index: 2;
    top: 183px;
    left: -82px;
    width: 213.54px;
    font-size: 9px;
    font-family: arial;
    transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.element-avatar {
    position: absolute;
    top: 224px;
    z-index: 2;
    left: 20px;
    width: 93px;
    height: 111px;
    border-radius: 5px;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
